*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:420px;
    background:#171717;
    padding:40px;
    border-radius:18px;
    text-align:center;
    border:1px solid #d4af37;
    box-shadow:0 0 30px rgba(212,175,55,.25);
}

h1{
    color:#d4af37;
    font-size:42px;
    letter-spacing:4px;
}

.sub{
    margin-top:12px;
    color:#cfcfcf;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#d4af37;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#f2cf63;
}

#result{
    margin-top:25px;
    font-size:18px;
    font-weight:bold;
}