*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:25px;
}

.container{
    width:100%;
    max-width:520px;
    background:#171717;
    border:1px solid #D4AF37;
    border-radius:22px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 0 30px rgba(212,175,55,.20);
}

h1{
    color:#D4AF37;
    font-size:52px;
    letter-spacing:4px;
    margin-bottom:12px;
}

.sub{
    color:#cfcfcf;
    font-size:20px;
    margin:15px 0 30px;
}

input{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    font-size:18px;
    margin-bottom:20px;
    outline:none;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#D4AF37;
    color:#000;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#f2cf63;
}

#result{
    margin-top:25px;
}

.verify-card{
    margin-top:25px;
    background:#161616;
    border:1px solid rgba(212,175,55,.35);
    border-radius:18px;
    padding:30px;
    box-shadow:0 0 20px rgba(212,175,55,.08);
}

.verify-card img{
    width:90px;
    margin-bottom:15px;
}

.verified-title{
    text-align:center;
    color:#D4AF37;
    font-size:34px;
    font-weight:700;
    margin:8px 0;
}

.certificate-subtitle{
    text-align:center;
    color:#9f9f9f;
    margin-bottom:20px;
    font-size:16px;
    letter-spacing:1px;
}

.verify-table{
    width:100%;
    border-collapse:collapse;
}

.verify-table tr{
    border-bottom:1px solid rgba(255,255,255,.08);
}

.verify-table td{
    padding:14px 8px;
    font-size:17px;
}

.verify-table td:first-child{
    color:#9f9f9f;
    width:45%;
}

.verify-table td:last-child{
    text-align:right;
    color:#fff;
    font-weight:600;
}

.verified{
    color:#00ff66 !important;
}

@media(max-width:600px){

.container{
    padding:25px 18px;
}

h1{
    font-size:42px;
}

.sub{
    font-size:16px;
}

.verify-card{
    padding:18px;
}

.verify-card img{
    width:70px;
}

.verified-title{
    font-size:26px;
}

.certificate-subtitle{
    font-size:14px;
}

.verify-table td{
    font-size:15px;
    padding:12px 5px;
}

button{
    font-size:20px;
}

}